<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<body>
<p id="msgArea" class="col" th:value="${count}" th:text="${count}"></p>
<div class="col-6">
    <div class="input-group mb-3">
        <input type="text" id="msg" class="form-control" aria-label="Recipient's username"
               aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-send" th:onclick="send()">전송</button>
        </div>
    </div>
</div>
<button>Click</button>
</body>

<script>
    var sock = new SockJS("/ws/chat");
    var ws = Stomp.over(sock);

    function send() {
        ws.send("/app/chat/message");
        ws.subscribe("/topic/main", function (message) {
            console.log("message" + message.body);
            document.getElementById('msgArea').innerText = message.body;
        });
    }

    $(document).ready(function () {
        ws.connect();
        console.log("연결됨")
    })
</script>

</html>